.header {
  width: 100;
  text-align: center;
  padding: 1rem;

  background-color: lightgray;
}

@media screen and (max-width: 600px) {
  h1.header {
    font-size: 16px;
  }
  .header {
    padding: 0.5rem;
  }
}
