.validation-feedback {
  display: flex;
  flex-direction: column;
  text-align: center;

  width: 200px;
  gap: 0.5rem;
}

.valid {
  color: darkgreen;
}

.valid .material-symbols-outlined {
  display: none;
}

.not-valid {
  display: flex;
  align-items: center;
}
.not-valid .material-symbols-outlined {
  color: red;
  font-size: 24px;
}
